@page "/"
@inject NavigationManager Navigation

<div class="header-full">
    </div>

<div class="container">
    <div class="cards-container">
        <div class="card" @onclick='() => Navigation.NavigateTo("/registrar-dueno")'>
            <div class="card-icon">👤</div>
            <h2>Registrar Dueño</h2>
            <p>Registrar información del propietario de la mascota</p>
        </div>

        <div class="card" @onclick='() => Navigation.NavigateTo("/registrar-mascota")'>
            <div class="card-icon">🐾</div>
            <h2>Registrar Mascota</h2>
            <p>Registrar nueva mascota en el sistema</p>
        </div>

        <div class="card" @onclick='() => Navigation.NavigateTo("/cobrar-atencion")'>
            <div class="card-icon">💰</div>
            <h2>Cobrar Atención</h2>
            <p>Registrar pago de consulta o servicio</p>
        </div>
        <div class="card" @onclick='() => Navigation.NavigateTo("/clientes")'>
            <div class="card-icon">📋</div>
            <h2>Ver Clientes</h2>
            <p>Listado completo y edición de propietarios</p>
        </div>
    </div>
</div>

@code {
    private void CerrarSesion()
    {
        Navigation.NavigateTo("/");
    }
}